body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: arial;
    color: white;
    font-weight: bold;
}

div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #b3ffe6;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.buzz {
    background-color: #ffff99;
}

div.fizz {
    background-color: lavender;
}

div.fizzbuzz {
    background-color: #ffc7b3;
}

